.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .about-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 2rem;
    width: 100%;
    align-items: flex-start;

    @media (min-width: 768px) {
      flex-direction: row;
    }
  }

  }

