@use '../variables';

.dashboard {
  background-color:variables.$background-gradient;
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
