@use '../variables';


.border-dark-item {
border-color: variables.$richNavy !important;
background: #F9FAFB;
background: linear-gradient(141deg, rgba(206, 191, 164, 0.4) 26%, rgba(230, 164, 41, 0.4) 100%);
}

.border-dark-item:hover {
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transform: translateY(-1px);
  transition: all 0.2s ease-in-out;
}
