@use '../variables';
@use '../abstracts/abstracts';


//About
.more-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.more-content.open {
  max-height: 300px; /* prilagodi visinu da stane sav tekst */
}


//Features
.feature-card {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.feature-card:hover {
  transform: scale(1.05);
  z-index: 1050;
}

/* Description hidden by default */
.feature-description {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
  height: auto; /* Allow text to take natural height */
}

/* Show description when hovering the card */
.feature-card:hover .feature-description {
  opacity: 1;
  visibility: visible;
}



// Styles for specific pages (Login, Signup, MyAccount, Dashboard, NewWarranty, WarrantyDetails)
.login {
    background: linear-gradient(155deg, variables.$white 60%, variables.$blueLight 60%);
}

.signup {
    background: linear-gradient(125deg,
    variables.$blueLight 26.5%,
    variables.$white 25.5%,
    variables.$white 74.8%,
    variables.$blueLight 74.8%);
}

.myAccount {
    background: linear-gradient(120deg,
    variables.$white 26.5%,
    variables.$blueLight 25.5%,
    variables.$blueLight 74.8%,
    variables.$white 74.8%);
}

.dashboard {
    background-color: variables.$white;
    background: linear-gradient(181deg, variables.$blueDark 46%, variables.$white 46%);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



.warrantyDetails {
    @extend %section-background-styles;
    background: linear-gradient(85deg, variables.$blueLight 55%, variables.$white 55%); 
    background-position: right;
    background-repeat: no-repeat;
}


