@use '../variables' as vars; 


// ==============================
// Stilovi za pozadinu
// ==============================
.warrantyDetails {
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  z-index: 1;

  background: vars.$app-background;
  background-position: right;
  background-repeat: no-repeat;
}