@use '../variables';
@use '../abstracts/abstracts';

.warrantyDetails {
  @extend %section-background-styles;
  background: variables.$app-background;
  background-position: right;
  background-repeat: no-repeat;
}
