.text-blueLight {
    color: $blueLight;
}

.white {
    color: $white;
}

.load {
    background-color: $dark;
}

.form-style {
    background-color: $white;
}

.datepickerFullWidth {
    width: 100%;
}

// HELPERS - TO BE REMOVED
.help {
    border: red 2px solid;
}