@use '../variables';

.text-blueLight {
    color: variables.$blueLight;
}

.white {
    color: variables.$white;
}

.load {
    background-color: variables.$dark;
}

.form-style {
    background-color: variables.$white;
}

.datepickerFullWidth {
    width: 100%;
}

// HELPERS
.help {
    border: red 2px solid;
}
