@use '../variables';

.app-theme {
  // Use a class like `.app-theme` on the body or a top-level container
  background: variables.$app-background;

  .header {
    background: variables.$app-background;
  }

  .footer {
    background: transparent;
    color: black;

    a {
      color: black;
    }
  }

  .navbar .nav-link {
    color: black;

    &:hover,
    &:focus,
    &:active {
      color: variables.$richNavy;
    }

    &.active {
      color: white;
    }
  }

  .dropdown-gradient .dropdown-menu {
    background-color: #EDE8F5;
  }

  .dropdown-gradient .dropdown-item {
    color: rgb(0, 0, 0);
  }

  .logo {
    color: rgb(0, 0, 0);
  }
}