@use '../variables';

.header {
  background: linear-gradient(
    90deg,
    #0F172A 0%,   
    #1E3A8A 50%,  
    #334155  100%
  );
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Desktop separator (vertical) */
.separator {
  border-right: 2px solid variables.$lightGrayBlue;
  height: 34px; /* visina separatora */
  margin:  0.5rem;
  display: inline-block;
}

/* Mobile / hamburger: horizontal line */
@media (max-width: 991.98px) {
  .separator {
    border-left: none;           /* ukloni vertikalnu */
    border-top: 2px solid variables.$lightGrayBlue; /* horizontalna linija */
    width: 100%;
    height: 0;
    margin: 0.5rem 0;
  }


}
