@use '../variables';

// NAVIGATION BAR
.navbar {
    background-color: variables.$blueDark;
    display: flex;
    width: 95%;

    img {
        height: 70px;
        width: auto;
        padding-top: 7px;
    }
}

// NAVIGATION LINKS
.nav-link {
    color: variables.$white;

    &:hover {
        color: variables.$yellow;
    }
}

// FOOTER - Stick to the bottom of the main content
footer {
    background-color: variables.$blueDark;
    color: variables.$white;
    text-align: start;
    padding: 5px 0;
    width: 100%;
    box-sizing: border-box;
    margin-top: 0;
    /* No margin-top to avoid extra space */

    p {
        margin: 0;
        padding-left: 3%;
    }
}

// BACK TO TOP
.back-to-top {
    color: variables.$blueDark;
    font-size: 3rem;
}