@use '../variables';

/* .navbar {
  background-color: variables.$richNavy;
  min-height: 100px;
  padding-top: 1rem;
  padding-bottom: 1rem;

  img {
    height: 70px;
    width: auto;
  }
} */

// Navigation links
.navbar .nav-link {
  color: black;

  &:hover,
  &:focus,
  &:active {
    color: variables.$richNavy;
  }

  &.active {
    color: variables.$white;
  }
}



