@use '../variables';

// Background / form utilities
.load {
  background-color: variables.$neutralGray;
}

.form-style {
  background-color: variables.$white;
}

.datepickerFullWidth {
  width: 100%;
}


.marketing-background {
  background: variables.$marketing-background;
}

.app-background {
  background: variables.$app-background;
}
