@use '../variables';

// MODAL POPUP WINDOW
.modalWindow-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.modalWindow {
    background-color: variables.$modal;
    padding: 20px;
    border-radius: 5px;
    max-width: 1000px;
    width: 90%;
    max-height: 80vh;
    overflow-y: auto;
    outline: none;
    z-index: 1001;
}

// BUTTONS
.button {
    .btn { 
        background-color: variables.$blueDark; 
        color: variables.$white;
        border-color: variables.$blueDark;
        padding: 0.3rem 2rem;
        font-size: 1rem;
        border-radius: 0.3rem;
        transition: transform 0.3s ease-in-out;
        display: flex;
        align-items: center;

        &:hover {
            transform: scale(1.05);
            color: variables.$blueDark;
            background-color: variables.$blueLight;
            border-color: variables.$blueDark;
        }

        @media (max-width: 1200px) {
            padding: 0.3rem 1.5rem;
            font-size: 1.1rem;
        }
        @media (max-width: 768px) {
            padding: 0.3rem 1.1rem;
            font-size: 0.9rem;
        }
        @media (max-width: 576px) {
            padding: 0.3rem 0.8rem;
            font-size: 0.8rem;
        }
    }
}

.buttonOpenWarranty {
    border-radius: 0.3rem;
    border-color: variables.$blueDark; 
    transition: transform 0.5s ease-in-out;
    background-color: variables.$blueLight;
    color: variables.$blueDark;

    &:hover {
        transform: scale(1.05);
        color: variables.$white;
        background-color: variables.$blueDark;
    }
}

.dashboardbutton {
    padding: 1rem 2rem;
    font-size: 2rem;
    border-radius: 0.3rem;
    transition: transform 5s ease-in-out; 

    .btn:hover {
        transform: scale(1.05);
        color: variables.$dark;
        background-color: variables.$blueLight;
    }
}


// Dropdown Menu
.dropdown-menu {
    background-color: transparent;
    border: none;
}

// List Style
.list-style {
    background-color: variables.$white;
    color: variables.$dark;
    cursor: pointer;
    position: relative;

    &.list-group-item {
        display: flex;
        align-items: center;
    }

    // The Link component inside the list item
    a {
        display: block; // Make the link fill the parent <li>'s content area
        flex-grow: 1; // Allow the link to take up all available space
        text-decoration: none;
        color: inherit;
        padding: 0.1rem 1rem; // Apply padding to the link for clickable area
    }

    &:hover {
        background-color: variables.$yellow;
        a {
            color: variables.$dark;
        }
    }
}



