@use '../variables';

.list-style {
  background-color: variables.$white;
  color: variables.$dark;
  cursor: pointer;
  position: relative;

  &.list-group-item {
    display: flex;
    align-items: center;
  }

  a {
    display: block;
    flex-grow: 1;
    text-decoration: none;
    color: inherit;
    padding: 0.1rem 1rem;
  }

  &:hover {
    background-color: variables.$yellow;

    a {
      color: variables.$dark;
    }
  }
}
