// Define Color Scheme Variables
$blueLight: #c2dfe3;
$white: #f5f5f5;
$yellow: #fffc5f;
$dark: #212121;
$blueDark: #162D46;
$modal: #c3c3d7;

// Dodajte i druge globalne varijable ovde ako ih imate (npr. za fontove, razmake...)