
/* Define Color Scheme Variables */
:root {
    --primary-color:  #c2dfe3; /* Teal */
    --secondary-color: #f5f5f5; /* Light Gray */
    --accent-color: #fae637; /* Orange */
    --hover-color: #383838; /* Dark Gray for hover effects */
    --text-dark: #212121; /* Dark Text */
    --text-light: #f3f3f3; /* Light Text */
    --button-background: #555; /* Default Button Background */
    --button-hover: #333; /* Button Hover Background */
    --header-footer: #253257; /* Teal */
}

/* Navigation Bar */
.navbar {
    background-color: var(--header-footer);
}

.navbar img {
    height: 70px; 
    width: auto;  
    padding-top: 7px;
}

/* Navigation Links */
.nav-link {
    color: var(--secondary-color);
}

.nav-link:hover {
    color: var(--accent-color);
}

/* Hero Section */
.hero-section {
    background: linear-gradient(156deg, var(--secondary-color) 50%, var(--primary-color)50%);
}

/* Hero Left */
.hero-left {
    margin-bottom: 40%;
} 

/* Hero Left Text Styles */
.hero-left h2 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    color: var(--text-dark); /* Using defined variable */
}

.hero-left p {
    font-size: 1.5rem;
    color: var(--text-dark); /* Using defined variable */
}

/* Buttons */
.button .btn {
    padding: 0.3rem 2rem;
    font-size: 1rem;
    border-radius: 0.3rem;
    transition: transform 0.3s ease-in-out;
}

.button .btn:hover {
    transform: scale(1.05); 
    background-color: var(--accent-color);
}
/* Right Content Image */
.img-lending-page {
    display: flex;
    justify-content: right;
    align-items:flex-start;
    padding-bottom: 20%;
}

/* About Section */
.about-section{
    background: var(--secondary-color);
}
.about-title {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-weight:bolder;
    font-size-adjust: 0.85;
    color: var(--accent-color);
    position: relative;
    z-index: 1;
    letter-spacing: 1rem;
  }
  .load{
    background-color: #212121;
  }

 /* Features Section */
 .features-section {
    background: var(--secondary-color);
}
.features-title {
    font-weight: bolder;
    letter-spacing: 1rem;
    font-size-adjust: 0.85;
    color: var(--primary-color);
}

.hover-text{
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s ease; 
}

.individualFeature:hover{
    background-color: var(--primary-color);
    min-height: 100%;
    border-radius: 10%;
}
.individualFeature:hover .hover-text{
    visibility: visible;
    opacity: 1;    
}
.individualFeature:hover .featureTitle{
    background-color: var(--secondary-color);
}

.featureTitle{
    background-color: var(--primary-color);
    border-radius: 10%;
}



/* Footer Styles - Stick to the bottom of the main content */
footer {
    background-color: var(--header-footer);
    color: var(--text-light);
    text-align: center;
    padding: 10px 0;
    width: 100%;
    box-sizing: border-box;
    margin-top: 0; /* No margin-top to avoid extra space */
}

/* Footer Text */
footer p {
    margin: 0;
}



/* HELPERS - TO BE REMOVED */
.helpBorder{
    border: red 2px solid;
}