// Define Color Scheme Variables
$blueLight: #c2dfe3;
$white: #f5f5f5;
$yellow: #fffc5f;
$dark: #212121;
$blueDark: #162D46;

html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto Serif', 'Edu AU VIC WA NT Pre', serif;
@media (max-width: '768px') {
        font-size: 1rem;
    }
}

.text-blueLight {
    color: $blueLight;
}

.white {
    color: $white;
}

.title {
    letter-spacing: 0.85rem;
    font-size-adjust: 0.85;
    color: $dark;
    font-family: Montserrat;
}
.montserrat {
    font-family: Montserrat;
}

// Navigation Bar
.navbar {
    background-color: $blueDark;   
    display: flex;
    width: 95%;

    img {
        height: 70px;
        width: auto;
        padding-top: 7px;
    }
}

// Navigation Links
.nav-link {
    color: $white;

    &:hover {
        color: $yellow;
    }
}

// HERO SECTION
.hero-section {
    background: linear-gradient(156deg, $white 50%, $blueLight 50%);
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    z-index: 1;
}

// Hero Left
.hero-left {
    margin-bottom: 40%;

    h2 {
        font-size: 3rem;
        margin-bottom: 0.5rem;
        color: $dark;
    }

    p {
        font-size: 1.5rem;
        color: $dark;
    }
}

// Buttons
.button {
    .btn {
        background-color: $blueDark;
        color: $white;
        border-color: $blueDark;
        padding: 0.3rem 2rem;
        font-size: 1rem;
        border-radius: 0.3rem;
        transition: transform 0.3s ease-in-out;


        &:hover {
            transform: scale(1.05);
            color: $blueDark;
            background-color: $blueLight;
            border-color: $blueDark;
        }
@media (max-width: 768px) {
    padding: 0.3rem 1.1rem;
    font-size: 0.9rem;
}

}
}
.buttonOpenWarranty {
    border-radius: 0.3rem;
    border-color: $blueDark;
    transition: transform 0.5s ease-in-out;
    background-color: $blueLight;
    color: $blueDark;

    &:hover {
        transform: scale(1.05);
        color: $white;
        background-color: $blueDark;
    }
}


.dashboardbutton {
    padding: 1rem 2rem;
    font-size: 2rem;
    border-radius: 0.3rem;
    transition: transform 5s ease-in-out;

    .btn:hover {
        transform: scale(1.05);
        color: $dark;
            background-color: $blueLight;
    }
}


.back-to-top {
    color: $blueDark;
    font-size: 3rem;
}

// About Section
.about-section {
    background: $blueLight;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.load {
    background-color: $dark;
}

.dropdown-menu {
    background-color: transparent;
    border: none;
}

// Features Section
.features-section {
    background: $white;

    .hover-text {
        visibility: hidden;
        opacity: 0;
        transition: opacity 1s ease;
    }

    .individualFeature {
        &:hover {
            background-color: $blueLight;
            min-height: 100%;

            .hover-text {
                visibility: visible;
                opacity: 3;
            }

            .featureTitle {
                color: $blueDark;
                background-color: $white;
            }
        }
    }

    .featureTitle {
        color: $white;
        background-color: $blueDark;
    }
}

// FAQ-Section
.faq-section {
    background: linear-gradient(206deg, $white 65%, $blueLight 65%);
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    z-index: 1;

    .questionField {
        color: $white;
        background-color: $blueDark;
        position: relative;
        /* Ensure proper stacking context */
        z-index: 2;
        /* Ensure it stays above the background */

        &:hover {
            color: $blueDark;
            background-color: $blueLight;
        }
    }
}

// Footer Styles - Stick to the bottom of the main content
footer {
    background-color: $blueDark;
    color: $white;
    text-align: start;
    padding: 5px 0;
    width: 100%;
    box-sizing: border-box;
    margin-top: 0;
    /* No margin-top to avoid extra space */

    p {
        margin: 0;
        padding-left: 3%;
    }
}

// LOG IN
.login {
    background: linear-gradient(155deg, $white 60%, $blueLight 60%);
}

// SIGN UP
.signup {
    background: linear-gradient(125deg,
            $blueLight 26.5%,
            $white 25.5%,
            $white 74.8%,
            $blueLight 74.8%);
}

// MY ACCOUNT
.myAccount {
    background: linear-gradient(120deg,
            $white 26.5%,
            $blueLight 25.5%,
            $blueLight 74.8%,
            $white 74.8%);

}

// Dashboard
.dashboard {
    background-color: $white;
    background: linear-gradient(181deg, $blueDark 46%, $white 46%);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

//New Warranty
.newWarranty {
    background: linear-gradient(100deg, $blueLight 55%, $white 55%);

}

.form-style {
    background-color: $white;
}


//My Warranties
.myWarranties {
    background: linear-gradient(100deg, $blueLight 55%, $white 55%);
}

.list-style {
    background-color: $white;
    color: $dark;

    .link-text {
        color: $dark;
        text-shadow: $white;
        text-decoration: none;
    }

    &:hover {
        background-color: $yellow;
    }
}
// Warranty Details
.warrantyDetails {
    background: linear-gradient(85deg, $blueLight 55%, $white 55%);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
// HELPERS - TO BE REMOVED
.help {
    border: red 2px solid;
}