/* Define Color Scheme Variables */
:root {
    --primary-color: #00796B; /* Teal */
    --secondary-color: #F5F5F5; /* Light Gray */
    --accent-color: #FF9800; /* Orange */
    --hover-color: #383838; /* Dark Gray for hover effects */
    --text-dark: #212121; /* Dark Text */
    --text-light: #f3f3f3; /* Light Text */
    --button-background: #555; /* Default Button Background */
    --button-hover: #333; /* Button Hover Background */
}

/* Global Styles */
html, body{
    height: 100vh;
    margin: 0;
    padding: 0%;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    background: linear-gradient(45deg, #ffffff, #92a0db); 
}

/* Navigation Bar */
.navbar {
    border-bottom: 0 solid;
    background-color: rgb(12, 0, 12);
    backdrop-filter: blur(12px);
}
.navbar-nav{
    padding-right: 9%;
}

.navbar h1{
    color: var(--secondary-color);
    font-size: 1.5rem;
    padding-left: 9%;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--secondary-color);
}

/* Navigation Links */
.nav-link {
    color: var(--secondary-color) !important; /* Ensure white color */
    text-decoration: none;
    transition: color 0.3s ease, text-decoration 0.3s ease;
    padding-right: 8%;

}

.nav-link:hover {
    text-decoration: underline;
    color: var(--accent-color); /* Optional hover color */
}

/* Hero Section */
.hero-section {
    width: 100%;
    height: 100vh; /* Full viewport height */
    padding: 0;
    background: linear-gradient(161deg, #ffffff 50%, #007bff 50%);
    display: flex;
    align-items: center; /* Center content vertically */
    justify-content: flex-start; /* Align content to the left */
}

/* Hero Content */
.hero-content {
    width: 50%; /* Occupies half the screen width */
    padding: 2rem;

}

/* Hero Left */
.hero-left {
    display: flex;
    flex-direction: column;
    padding-bottom: 30%;
}
.hero-left h2 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    color: var(--bs-dark); /* Using Bootstrap variable */
}

.hero-left p {
    font-size: 1.5rem;
    line-height: 1.6;
    color: var(--bs-dark); /* Using Bootstrap variable */
    margin-bottom: 2rem;
}
.navbar-toggler .bi {
    color: white; /* Change icon color to white */
}

/* Buttons */
.hero-links .btn {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 0.3rem;
    transition: transform 0.3s ease-in-out;
}

.hero-links .btn:hover {
    transform: scale(1.05); /* Slight scale effect on hover */
}

/* Footer Styles - Stick to the bottom of the main content */
footer {
    background-color: var(--primary-color);
    color: var(--text-light);
    text-align: center;
    padding: 10px 0;
    width: 100%;
    box-sizing: border-box;
    margin-top: 0; /* No margin-top to avoid extra space */
}

/* Footer Text */
footer p {
    font-size: 1rem;
    margin: 0;
}